body{
    background: url("../html/img/bg.png");
}
/*
    中间表单样式
 */
.center{
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    text-align: center;
}
/*
    表头样式
 */
thead th{
    font-size: 30px;
    color: orangered;
}
/*
    表体提示样式
 */
tbody label{
    font-size: 20px;
}
/*
    表体输入框样式
 */
tbody input{
    border: 1px solid gray;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    outline: none;
}
/*
    表体按钮样式
 */
tfoot button{
    border: 1px solid crimson;
    border-radius: 5px;
    width: 95%;
    height: 40px;
    background: crimson;
    color: white;
    font-size: 20px;
}
/*表行样式*/
tr{
    line-height: 60px;
}
/*底部页脚样式*/
.footer{
    width: 35%;
    margin: auto;
    font-size: 15px;
    color: gray;
}
/*超链接样式*/
a{
    text-decoration: none;
    color: blue;
}